<div class="card border-0 bg-body-tertiary shadow-sm rounded-4">
  <div class="card-body">
    <div class="row align-items-center">

      <!-- Movie Image (Responsive) -->
      <div class="col-md-4 col-12 text-center mb-3 mb-md-0">
        <img src="<%= movie.imageUrl %>" class="img-fluid rounded-3 w-100 shadow" alt="<%= movie.title + ' ' + 'poster' %>" title="<%= movie.title + ' ' + 'poster' %>">
      </div>

      <!-- Movie Details -->
      <div class="col-md-8 col-12">
        <h5 class="card-title"><%= movie.title %></h5>
        <p class="card-text text-muted"><%= movie.genre %> • <%= movie.releaseYear %></p>

        <!-- IMDb-Style Rating -->
        <p class="mb-2">
          <span class="text-warning px-2 py-1 rounded">
            <i class="bi bi-star-fill"></i> <%= movie.rating %>
          </span>
        </p>

        <!-- Director -->
        <h5 class="fs-6 <%= !isHide ? 'd-none' : ''%>">Director</h5>
        <p class="card-text text-muted <%= !isHide ? 'd-none' : ''%>"><%= movie.director %></p>

        <!-- Cast -->
        <h5 class="fs-6 <%= !isHide ? 'd-none' : ''%>">Cast</h5>
        <p class="card-text text-muted <%= !isHide ? 'd-none' : ''%>"><%= movie.cast %></p>

        <!-- Country -->
        <h5 class="fs-6 <%= !isHide ? 'd-none' : ''%>">Origin Country</h5>
        <p class="card-text text-muted <%= !isHide ? 'd-none' : ''%>"><%= movie.country %></p>

        <!-- Language -->
        <h5 class="fs-6 <%= !isHide ? 'd-none' : ''%>">Language</h5>
        <p class="card-text text-muted <%= !isHide ? 'd-none' : ''%>"><%= movie.language %></p>

        <!-- Duration -->
        <h5 class="fs-6 <%= !isHide ? 'd-none' : ''%>">Duration</h5>
        <p class="card-text text-muted <%= !isHide ? 'd-none' : ''%>"><%= movie.duration %> mins</p>

        <!-- Description -->
        <h5 class="fs-6 <%= !isHide ? 'd-none' : ''%>">Description</h5>
        <p class="card-text text-muted">
          <%= isHide ? movie.description : movie.description.substring(0, 100) + '...' %>
        </p>

        <!-- Details button -->
        <button class="btn btn-primary rounded-3 shadow-sm <%= isHide ? 'd-none' : '' %>" onclick="window.location = '/movie/<%= movie._id %>/view'">Details</button>

        <!-- Hidden Buttons on view mode -->
        <button class="btn btn-secondary rounded-3 btn-sm <%= !isHide ? 'd-none' : '' %>" onclick="window.location = '/'">Back</button>
        <button class="btn btn-success rounded-3 btn-sm <%= !isHide ? 'd-none' : '' %>" onclick="window.location = '/movie/auth?method=edit&movieId=<%= movie._id %>'">Edit</button>

        <!-- Delete Button -->
        <form action="#" method="post" class="d-inline">
          <button class="btn btn-danger rounded-3 btn-sm mx-1 disabled <%= !isHide ? 'd-none' : '' %>">Delete (Not Available)</button>
        </form>

        <!-- /movie/<%= movie._id %>?_method=DELETE -->

      </div>
    </div>
  </div>
</div>