<!doctype html>
<html lang="en">

<%- include('partials/head', { head }) %>

<body>
  <%- include('partials/navbar') %>
  <%- include('partials/movieInput') %>
  <%- include('partials/label', { title: 'Listings' }) %>
  <%- include('partials/movieContainer') %>
  <%- include('partials/script') %>
</body>

</html>