<!doctype html>
<html lang="en">

<%- include('partials/head', { ...headData }) %>

<body>
  <%- include('partials/navbar') %>
  <%- include('partials/movieInput') %>
  <%- include('partials/containerHeading', { ...containerHeadingData }) %>
  <%- include('partials/movieContainer', { movies }) %>
  <%- include('partials/credits') %>
  <%- include('partials/script') %>
</body>

</html>