<!doctype html>
<html lang="en">

<%- include('partials/head', { head }) %>

<body>
  <%- include('partials/navbar') %>
  <%- include('partials/movieInput') %>
  <%- include('partials/containerHeading', { genres }) %>
  <%- include('partials/movieContainer') %>
  <%- include('partials/credits') %>
  <%- include('partials/script') %>
</body>

</html>