<!doctype html>
<html lang="en">

<%- include('partials/head', { ...headData }) %>

<body>
  <%- include('partials/navbar') %>
  <%- include('partials/form', { ...data }) %>
  <%- include('partials/credits') %>
  <%- include('partials/script') %>
</body>

</html>