<!doctype html>
<html lang="en">

<%- include('partials/head', { ...headData }) %>

<body>
  <%- include('partials/navbar') %>
  <%- include('partials/containerHeading', { ...containerHeadingData}) %>

  <div class="container">
    <%- include('partials/movieCard', { ...movieCardData }) %>
  </div>

  <%- include('partials/credits') %>
  <%- include('partials/script') %>
</body>

</html>