<!doctype html>
<html lang="en">

<%- include('partials/head', { head }) %>

<body>
  <%- include('partials/navbar') %>
  <%- include('partials/containerHeading', { genres: [], name: 'Listing', btnFilterTitle: '', btnSortTitle: '', isBtnHide: true }) %>

  <div class="container">
    <%- include('partials/movieCard', { movie, isHide: true }) %>
  </div>

  <%- include('partials/credits') %>
  <%- include('partials/script') %>
</body>

</html>